<%- include('../includes/head.ejs') %> 

<body>
	<!---start-wrap---->
	<%- include('../includes/header.ejs') %> 
	
	<!--- start-content---->
	<div class="content">
		<div class="wrap">
			
			<div class="content-right">
				<h1>Orders</h1>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<!---- start-bottom-grids---->
	<%- include('../includes/bottom-grid.ejs') %> 
	<!---- //End-bottom-grids---->
	<!--- //End-content---->
	<!---start-footer---->
	<%- include('../includes/footer.ejs') %> 
	<!---//End-footer---->
	<!---//End-wrap---->
</body>
</html>

