extends layouts/layout.pug
block title 
    title= doctitle 
block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        | You put the em
        em pha
        | sis on the wrong syl
        em la
        | ble.
        p checkout this
            br 
            |cool item here.

        form.product-form(action="/admin/add-product" method="POST")
            .form-control 
                label(for="title") Title
                input(type="text" name="title" id="title")
                button(type="submit") Add Product