<%- include('includes/head.ejs') %> 
<%- include('includes/navigation.ejs') %>

<main>
	<h1>My Products</h1>
	<% if(prods.length > 0 ){ %> <% for(let product of prods) {%>
	<p><%= product.title %></p>
	<% } %> <% } else{ %>
	<p>No products found.</p>
	<% } %>
</main>

<%- include('includes/end.ejs') %>
